In [1]:
import os
import sys
import pandas as pd 
import pendulum
import numpy as np 
from jinja2 import Template
from datetime import datetime as dt

In [2]:
#df = pd.read_csv("../../data/interim/data_usage_2022_1_11.csv")
#df

### Dag section

In [2]:
abs_path = ""

In [3]:
# call custom modules 
sys.path.append('../../') if not abs_path  else os.chdir(abs_path)
from utils.file_helper import FileHandler
from utils.database_connector import DBConn
from utils.query_template import QTemplate
from utils.cutoff_date import DateDefinitions
conn = DBConn()
qtemplate = QTemplate()
file_handler = FileHandler()

### Helper functions

In [4]:
def data_usage_df(year):
    column_names = ["record_year", "record_month", "customer_id", "total_mb"]
    yr =year
    query = Template(qtemplate.DataUsage()).render(this_year=yr)
    data = conn.query_to_postgresql(query)  
    #print(data)
    monthly_data_usage = pd.DataFrame(data, columns=column_names)
    #print(monthly_data_usage)
    return monthly_data_usage

In [5]:
data_usage_df(2020)

        record_year  record_month customer_id  total_mb
0              2020             9     2000001    317606
1              2020            10     2000001    192505
2              2020            11     2000001    217560
3              2020             9     2000006    615141
4              2020            11     2000006    616414
...             ...           ...         ...       ...
455422         2020            11     2228672      1578
455423         2020            11     2228673      3833
455424         2020            11     2228674      1350
455425         2020            11     2228675      1844
455426         2020            11     2228676      3162

[455427 rows x 4 columns]

In [5]:
def data_usage_year_list():
    #today = pendulum.today()
    #print(today)
    #lmo = today.subtract(days=today.day)
    #print(lmo)
        
    last_date = DateDefinitions.last_mo()
    #print(last_date)
    lyr = int(last_date[:4])
    #print(lyr)
    yr_list = np.arange(2020, lyr+1, 1)
    #print(yr_list)

    #yr_list = np.arange(2020, lyr+2, 1)
    return yr_list

In [7]:
data_usage_year_list()

array([2020, 2021])

In [6]:
 def avg_data_usage_calc(dataframe, year):
        """
        calculate the all data usage in one year 
        Note data usage is very little data, so this code is embedded here
        """
        _df = dataframe.copy()
        print(_df)
        df_mo = _df.groupby(by='customer_id')['record_month'].apply(np.unique).reset_index()
        print(df_mo)
        df_usage = _df.groupby(by='customer_id')['total_mb'].sum().reset_index()
        print(df_usage)
        df_m = pd.merge(df_mo, df_usage, on='customer_id')
        print(df_m)
        df_m['month_count'] = df_m['record_month'].apply(lambda x : len(x))
        print(df_m)
        cols_name = '_'.join(['avg', str(year)])
        print(cols_name)
        df_m[cols_name] = df_m['total_mb']/df_m['month_count']
        print(df_m)
        df_m.drop(['record_month', 'total_mb', 'month_count'],axis=1, inplace=True)
        print(df_m)
        return df_m

In [9]:
avg_data_usage_calc(data_usage_df(2020),2020)

        record_year  record_month customer_id  total_mb
0              2020             9     2000001    317606
1              2020            10     2000001    192505
2              2020            11     2000001    217560
3              2020             9     2000006    615141
4              2020            11     2000006    616414
...             ...           ...         ...       ...
455422         2020            11     2228672      1578
455423         2020            11     2228673      3833
455424         2020            11     2228674      1350
455425         2020            11     2228675      1844
455426         2020            11     2228676      3162

[455427 rows x 4 columns]
       customer_id record_month
0          2000001  [9, 10, 11]
1          2000006  [9, 10, 11]
2          2000021  [9, 10, 11]
3          2000024  [9, 10, 11]
4          2000025  [9, 10, 11]
...            ...          ...
164111     2228672         [11]
164112     2228673         [11]
164113     2228674         [11]
164114     2228675         [11]
164115     2228676         [11]

[164116 rows x 2 columns]
       customer_id  total_mb
0          2000001    727671
1          2000006   1862352
2          2000021   2116301
3          2000024   1300473
4          2000025   1534902
...            ...       ...
164111     2228672      1578
164112     2228673      3833
164113     2228674      1350
164114     2228675      1844
164115     2228676      3162

[164116 rows x 2 columns]
       customer_id record_month  total_mb
0          2000001  [9, 10, 11]    727671
1          2000006  [9, 10, 11]   1862352
2          2000021  [9, 10, 11]   2116301
3          2000024  [9, 10, 11]   1300473
4          2000025  [9, 10, 11]   1534902
...            ...          ...       ...
164111     2228672         [11]      1578
164112     2228673         [11]      3833
164113     2228674         [11]      1350
164114     2228675         [11]      1844
164115     2228676         [11]      3162

[164116 rows x 3 columns]
       customer_id record_month  total_mb  month_count
0          2000001  [9, 10, 11]    727671            3
1          2000006  [9, 10, 11]   1862352            3
2          2000021  [9, 10, 11]   2116301            3
3          2000024  [9, 10, 11]   1300473            3
4          2000025  [9, 10, 11]   1534902            3
...            ...          ...       ...          ...
164111     2228672         [11]      1578            1
164112     2228673         [11]      3833            1
164113     2228674         [11]      1350            1
164114     2228675         [11]      1844            1
164115     2228676         [11]      3162            1

[164116 rows x 4 columns]
avg_2020
       customer_id record_month  total_mb  month_count       avg_2020
0          2000001  [9, 10, 11]    727671            3  242557.000000
1          2000006  [9, 10, 11]   1862352            3  620784.000000
2          2000021  [9, 10, 11]   2116301            3  705433.666667
3          2000024  [9, 10, 11]   1300473            3  433491.000000
4          2000025  [9, 10, 11]   1534902            3  511634.000000
...            ...          ...       ...          ...            ...
164111     2228672         [11]      1578            1    1578.000000
164112     2228673         [11]      3833            1    3833.000000
164113     2228674         [11]      1350            1    1350.000000
164114     2228675         [11]      1844            1    1844.000000
164115     2228676         [11]      3162            1    3162.000000

[164116 rows x 5 columns]
       customer_id       avg_2020
0          2000001  242557.000000
1          2000006  620784.000000
2          2000021  705433.666667
3          2000024  433491.000000
4          2000025  511634.000000
...            ...            ...
164111     2228672    1578.000000
164112     2228673    3833.000000
164113     2228674    1350.000000
164114     2228675    1844.000000
164115     2228676    3162.000000

[164116 rows x 2 columns]

       customer_id       avg_2020
0          2000001  242557.000000
1          2000006  620784.000000
2          2000021  705433.666667
3          2000024  433491.000000
4          2000025  511634.000000
...            ...            ...
164111     2228672    1578.000000
164112     2228673    3833.000000
164113     2228674    1350.000000
164114     2228675    1844.000000
164115     2228676    3162.000000

[164116 rows x 2 columns]

### Data Transformation

In [7]:
def is_one_yr(yr):
    _yr = yr
    df_init = data_usage_df(_yr)
    df_i = avg_data_usage_calc(df_init, _yr)
    return df_i

In [11]:
is_one_yr(2020)

        record_year  record_month customer_id  total_mb
0              2020             9     2000001    317606
1              2020            10     2000001    192505
2              2020            11     2000001    217560
3              2020             9     2000006    615141
4              2020            11     2000006    616414
...             ...           ...         ...       ...
455422         2020            11     2228672      1578
455423         2020            11     2228673      3833
455424         2020            11     2228674      1350
455425         2020            11     2228675      1844
455426         2020            11     2228676      3162

[455427 rows x 4 columns]
       customer_id record_month
0          2000001  [9, 10, 11]
1          2000006  [9, 10, 11]
2          2000021  [9, 10, 11]
3          2000024  [9, 10, 11]
4          2000025  [9, 10, 11]
...            ...          ...
164111     2228672         [11]
164112     2228673         [11]
164113     2228674         [11]
164114     2228675         [11]
164115     2228676         [11]

[164116 rows x 2 columns]
       customer_id  total_mb
0          2000001    727671
1          2000006   1862352
2          2000021   2116301
3          2000024   1300473
4          2000025   1534902
...            ...       ...
164111     2228672      1578
164112     2228673      3833
164113     2228674      1350
164114     2228675      1844
164115     2228676      3162

[164116 rows x 2 columns]
       customer_id record_month  total_mb
0          2000001  [9, 10, 11]    727671
1          2000006  [9, 10, 11]   1862352
2          2000021  [9, 10, 11]   2116301
3          2000024  [9, 10, 11]   1300473
4          2000025  [9, 10, 11]   1534902
...            ...          ...       ...
164111     2228672         [11]      1578
164112     2228673         [11]      3833
164113     2228674         [11]      1350
164114     2228675         [11]      1844
164115     2228676         [11]      3162

[164116 rows x 3 columns]
       customer_id record_month  total_mb  month_count
0          2000001  [9, 10, 11]    727671            3
1          2000006  [9, 10, 11]   1862352            3
2          2000021  [9, 10, 11]   2116301            3
3          2000024  [9, 10, 11]   1300473            3
4          2000025  [9, 10, 11]   1534902            3
...            ...          ...       ...          ...
164111     2228672         [11]      1578            1
164112     2228673         [11]      3833            1
164113     2228674         [11]      1350            1
164114     2228675         [11]      1844            1
164115     2228676         [11]      3162            1

[164116 rows x 4 columns]
avg_2020
       customer_id record_month  total_mb  month_count       avg_2020
0          2000001  [9, 10, 11]    727671            3  242557.000000
1          2000006  [9, 10, 11]   1862352            3  620784.000000
2          2000021  [9, 10, 11]   2116301            3  705433.666667
3          2000024  [9, 10, 11]   1300473            3  433491.000000
4          2000025  [9, 10, 11]   1534902            3  511634.000000
...            ...          ...       ...          ...            ...
164111     2228672         [11]      1578            1    1578.000000
164112     2228673         [11]      3833            1    3833.000000
164113     2228674         [11]      1350            1    1350.000000
164114     2228675         [11]      1844            1    1844.000000
164115     2228676         [11]      3162            1    3162.000000

[164116 rows x 5 columns]
       customer_id       avg_2020
0          2000001  242557.000000
1          2000006  620784.000000
2          2000021  705433.666667
3          2000024  433491.000000
4          2000025  511634.000000
...            ...            ...
164111     2228672    1578.000000
164112     2228673    3833.000000
164113     2228674    1350.000000
164114     2228675    1844.000000
164115     2228676    3162.000000

[164116 rows x 2 columns]

       customer_id       avg_2020
0          2000001  242557.000000
1          2000006  620784.000000
2          2000021  705433.666667
3          2000024  433491.000000
4          2000025  511634.000000
...            ...            ...
164111     2228672    1578.000000
164112     2228673    3833.000000
164113     2228674    1350.000000
164114     2228675    1844.000000
164115     2228676    3162.000000

[164116 rows x 2 columns]

In [8]:
def is_two_yr(yr_list):
    _yr1 = yr_list[0]
    _yr2 = yr_list[1]
    df_yr1 = data_usage_df(_yr1)
    df_yr2 = data_usage_df(_yr2)
    df_1 = avg_data_usage_calc(df_yr1, _yr1)
    df_2 = avg_data_usage_calc(df_yr2, _yr2)
    df_m = pd.merge(df_1, df_2, on='customer_id', how='outer')
    return df_m

In [15]:
is_two_yr([2020,2021])

        record_year  record_month customer_id  total_mb
0              2020             9     2000001    317606
1              2020            10     2000001    192505
2              2020            11     2000001    217560
3              2020             9     2000006    615141
4              2020            11     2000006    616414
...             ...           ...         ...       ...
455422         2020            11     2228672      1578
455423         2020            11     2228673      3833
455424         2020            11     2228674      1350
455425         2020            11     2228675      1844
455426         2020            11     2228676      3162

[455427 rows x 4 columns]
       customer_id record_month
0          2000001  [9, 10, 11]
1          2000006  [9, 10, 11]
2          2000021  [9, 10, 11]
3          2000024  [9, 10, 11]
4          2000025  [9, 10, 11]
...            ...          ...
164111     2228672         [11]
164112     2228673         [11]
164113     2228674         [11]
164114     2228675         [11]
164115     2228676         [11]

[164116 rows x 2 columns]
       customer_id  total_mb
0          2000001    727671
1          2000006   1862352
2          2000021   2116301
3          2000024   1300473
4          2000025   1534902
...            ...       ...
164111     2228672      1578
164112     2228673      3833
164113     2228674      1350
164114     2228675      1844
164115     2228676      3162

[164116 rows x 2 columns]
       customer_id record_month  total_mb
0          2000001  [9, 10, 11]    727671
1          2000006  [9, 10, 11]   1862352
2          2000021  [9, 10, 11]   2116301
3          2000024  [9, 10, 11]   1300473
4          2000025  [9, 10, 11]   1534902
...            ...          ...       ...
164111     2228672         [11]      1578
164112     2228673         [11]      3833
164113     2228674         [11]      1350
164114     2228675         [11]      1844
164115     2228676         [11]      3162

[164116 rows x 3 columns]
       customer_id record_month  total_mb  month_count
0          2000001  [9, 10, 11]    727671            3
1          2000006  [9, 10, 11]   1862352            3
2          2000021  [9, 10, 11]   2116301            3
3          2000024  [9, 10, 11]   1300473            3
4          2000025  [9, 10, 11]   1534902            3
...            ...          ...       ...          ...
164111     2228672         [11]      1578            1
164112     2228673         [11]      3833            1
164113     2228674         [11]      1350            1
164114     2228675         [11]      1844            1
164115     2228676         [11]      3162            1

[164116 rows x 4 columns]
avg_2020
       customer_id record_month  total_mb  month_count       avg_2020
0          2000001  [9, 10, 11]    727671            3  242557.000000
1          2000006  [9, 10, 11]   1862352            3  620784.000000
2          2000021  [9, 10, 11]   2116301            3  705433.666667
3          2000024  [9, 10, 11]   1300473            3  433491.000000
4          2000025  [9, 10, 11]   1534902            3  511634.000000
...            ...          ...       ...          ...            ...
164111     2228672         [11]      1578            1    1578.000000
164112     2228673         [11]      3833            1    3833.000000
164113     2228674         [11]      1350            1    1350.000000
164114     2228675         [11]      1844            1    1844.000000
164115     2228676         [11]      3162            1    3162.000000

[164116 rows x 5 columns]
       customer_id       avg_2020
0          2000001  242557.000000
1          2000006  620784.000000
2          2000021  705433.666667
3          2000024  433491.000000
4          2000025  511634.000000
...            ...            ...
164111     2228672    1578.000000
164112     2228673    3833.000000
164113     2228674    1350.000000
164114     2228675    1844.000000
164115     2228676    3162.000000

[164116 rows x 2 columns]
         record_year  record_month customer_id  total_mb
0               2021             8     2000001     49212
1               2021             7     2000001    199774
2               2021             4     2000001    208582
3               2021             5     2000001    293503
4               2021             2     2000001    244809
...              ...           ...         ...       ...
2397089         2021            12     2358835      5727
2397090         2021            12     2358836      4908
2397091         2021            12     2358837        52
2397092         2021            12     2358838      2779
2397093         2021            12     2358839       680

[2397094 rows x 4 columns]
       customer_id                             record_month
0          2000001                 [1, 2, 3, 4, 5, 6, 7, 8]
1          2000006  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
2          2000021  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
3          2000024  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
4          2000025                                [1, 2, 3]
...            ...                                      ...
284983     2358835                                     [12]
284984     2358836                                     [12]
284985     2358837                                     [12]
284986     2358838                                     [12]
284987     2358839                                     [12]

[284988 rows x 2 columns]
       customer_id  total_mb
0          2000001   1738018
1          2000006   4688694
2          2000021   1887998
3          2000024   2734546
4          2000025    677905
...            ...       ...
284983     2358835      5727
284984     2358836      4908
284985     2358837        52
284986     2358838      2779
284987     2358839       680

[284988 rows x 2 columns]
       customer_id                             record_month  total_mb
0          2000001                 [1, 2, 3, 4, 5, 6, 7, 8]   1738018
1          2000006  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   4688694
2          2000021  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   1887998
3          2000024  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   2734546
4          2000025                                [1, 2, 3]    677905
...            ...                                      ...       ...
284983     2358835                                     [12]      5727
284984     2358836                                     [12]      4908
284985     2358837                                     [12]        52
284986     2358838                                     [12]      2779
284987     2358839                                     [12]       680

[284988 rows x 3 columns]
       customer_id                             record_month  total_mb  \
0          2000001                 [1, 2, 3, 4, 5, 6, 7, 8]   1738018
1          2000006  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   4688694
2          2000021  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   1887998
3          2000024  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   2734546
4          2000025                                [1, 2, 3]    677905
...            ...                                      ...       ...
284983     2358835                                     [12]      5727
284984     2358836                                     [12]      4908
284985     2358837                                     [12]        52
284986     2358838                                     [12]      2779
284987     2358839                                     [12]       680

        month_count
0                 8
1                12
2                12
3                12
4                 3
...             ...
284983            1
284984            1
284985            1
284986            1
284987            1

[284988 rows x 4 columns]
avg_2021
       customer_id                             record_month  total_mb  \
0          2000001                 [1, 2, 3, 4, 5, 6, 7, 8]   1738018
1          2000006  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   4688694
2          2000021  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   1887998
3          2000024  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   2734546
4          2000025                                [1, 2, 3]    677905
...            ...                                      ...       ...
284983     2358835                                     [12]      5727
284984     2358836                                     [12]      4908
284985     2358837                                     [12]        52
284986     2358838                                     [12]      2779
284987     2358839                                     [12]       680

        month_count       avg_2021
0                 8  217252.250000
1                12  390724.500000
2                12  157333.166667
3                12  227878.833333
4                 3  225968.333333
...             ...            ...
284983            1    5727.000000
284984            1    4908.000000
284985            1      52.000000
284986            1    2779.000000
284987            1     680.000000

[284988 rows x 5 columns]
       customer_id       avg_2021
0          2000001  217252.250000
1          2000006  390724.500000
2          2000021  157333.166667
3          2000024  227878.833333
4          2000025  225968.333333
...            ...            ...
284983     2358835    5727.000000
284984     2358836    4908.000000
284985     2358837      52.000000
284986     2358838    2779.000000
284987     2358839     680.000000

[284988 rows x 2 columns]

       customer_id       avg_2020       avg_2021
0          2000001  242557.000000  217252.250000
1          2000006  620784.000000  390724.500000
2          2000021  705433.666667  157333.166667
3          2000024  433491.000000  227878.833333
4          2000025  511634.000000  225968.333333
...            ...            ...            ...
294121     2358835            NaN    5727.000000
294122     2358836            NaN    4908.000000
294123     2358837            NaN      52.000000
294124     2358838            NaN    2779.000000
294125     2358839            NaN     680.000000

[294126 rows x 3 columns]

In [9]:
def is_more_two_yr(yr_list):
    _yr1 = yr_list[0]
    _yr2 = yr_list[1]
    df_mo1 = data_usage_df(_yr1)
    df_mo2 = data_usage_df(_yr2)
    df_1 = avg_data_usage_calc(df_mo1, _yr1)
    df_2 = avg_data_usage_calc(df_mo2, _yr2)
    df_m = pd.merge(df_1, df_2, on='customer_id', how='outer')
    for i in yr_list[2:]:
        _yr_n = i
        df_u = data_usage_df(_yr_n)
        df_n = avg_data_usage_calc(df_u, _yr_n)
        df_m = pd.merge(df_m, df_n, on='customer_id', how='outer')
    return df_m

In [17]:
is_more_two_yr([2020,2021,2022])

        record_year  record_month customer_id  total_mb
0              2020             9     2000001    317606
1              2020            10     2000001    192505
2              2020            11     2000001    217560
3              2020             9     2000006    615141
4              2020            11     2000006    616414
...             ...           ...         ...       ...
455422         2020            11     2228672      1578
455423         2020            11     2228673      3833
455424         2020            11     2228674      1350
455425         2020            11     2228675      1844
455426         2020            11     2228676      3162

[455427 rows x 4 columns]
       customer_id record_month
0          2000001  [9, 10, 11]
1          2000006  [9, 10, 11]
2          2000021  [9, 10, 11]
3          2000024  [9, 10, 11]
4          2000025  [9, 10, 11]
...            ...          ...
164111     2228672         [11]
164112     2228673         [11]
164113     2228674         [11]
164114     2228675         [11]
164115     2228676         [11]

[164116 rows x 2 columns]
       customer_id  total_mb
0          2000001    727671
1          2000006   1862352
2          2000021   2116301
3          2000024   1300473
4          2000025   1534902
...            ...       ...
164111     2228672      1578
164112     2228673      3833
164113     2228674      1350
164114     2228675      1844
164115     2228676      3162

[164116 rows x 2 columns]
       customer_id record_month  total_mb
0          2000001  [9, 10, 11]    727671
1          2000006  [9, 10, 11]   1862352
2          2000021  [9, 10, 11]   2116301
3          2000024  [9, 10, 11]   1300473
4          2000025  [9, 10, 11]   1534902
...            ...          ...       ...
164111     2228672         [11]      1578
164112     2228673         [11]      3833
164113     2228674         [11]      1350
164114     2228675         [11]      1844
164115     2228676         [11]      3162

[164116 rows x 3 columns]
       customer_id record_month  total_mb  month_count
0          2000001  [9, 10, 11]    727671            3
1          2000006  [9, 10, 11]   1862352            3
2          2000021  [9, 10, 11]   2116301            3
3          2000024  [9, 10, 11]   1300473            3
4          2000025  [9, 10, 11]   1534902            3
...            ...          ...       ...          ...
164111     2228672         [11]      1578            1
164112     2228673         [11]      3833            1
164113     2228674         [11]      1350            1
164114     2228675         [11]      1844            1
164115     2228676         [11]      3162            1

[164116 rows x 4 columns]
avg_2020
       customer_id record_month  total_mb  month_count       avg_2020
0          2000001  [9, 10, 11]    727671            3  242557.000000
1          2000006  [9, 10, 11]   1862352            3  620784.000000
2          2000021  [9, 10, 11]   2116301            3  705433.666667
3          2000024  [9, 10, 11]   1300473            3  433491.000000
4          2000025  [9, 10, 11]   1534902            3  511634.000000
...            ...          ...       ...          ...            ...
164111     2228672         [11]      1578            1    1578.000000
164112     2228673         [11]      3833            1    3833.000000
164113     2228674         [11]      1350            1    1350.000000
164114     2228675         [11]      1844            1    1844.000000
164115     2228676         [11]      3162            1    3162.000000

[164116 rows x 5 columns]
       customer_id       avg_2020
0          2000001  242557.000000
1          2000006  620784.000000
2          2000021  705433.666667
3          2000024  433491.000000
4          2000025  511634.000000
...            ...            ...
164111     2228672    1578.000000
164112     2228673    3833.000000
164113     2228674    1350.000000
164114     2228675    1844.000000
164115     2228676    3162.000000

[164116 rows x 2 columns]
         record_year  record_month customer_id  total_mb
0               2021             8     2000001     49212
1               2021             7     2000001    199774
2               2021             4     2000001    208582
3               2021             5     2000001    293503
4               2021             2     2000001    244809
...              ...           ...         ...       ...
2397089         2021            12     2358835      5727
2397090         2021            12     2358836      4908
2397091         2021            12     2358837        52
2397092         2021            12     2358838      2779
2397093         2021            12     2358839       680

[2397094 rows x 4 columns]
       customer_id                             record_month
0          2000001                 [1, 2, 3, 4, 5, 6, 7, 8]
1          2000006  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
2          2000021  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
3          2000024  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
4          2000025                                [1, 2, 3]
...            ...                                      ...
284983     2358835                                     [12]
284984     2358836                                     [12]
284985     2358837                                     [12]
284986     2358838                                     [12]
284987     2358839                                     [12]

[284988 rows x 2 columns]
       customer_id  total_mb
0          2000001   1738018
1          2000006   4688694
2          2000021   1887998
3          2000024   2734546
4          2000025    677905
...            ...       ...
284983     2358835      5727
284984     2358836      4908
284985     2358837        52
284986     2358838      2779
284987     2358839       680

[284988 rows x 2 columns]
       customer_id                             record_month  total_mb
0          2000001                 [1, 2, 3, 4, 5, 6, 7, 8]   1738018
1          2000006  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   4688694
2          2000021  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   1887998
3          2000024  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   2734546
4          2000025                                [1, 2, 3]    677905
...            ...                                      ...       ...
284983     2358835                                     [12]      5727
284984     2358836                                     [12]      4908
284985     2358837                                     [12]        52
284986     2358838                                     [12]      2779
284987     2358839                                     [12]       680

[284988 rows x 3 columns]
       customer_id                             record_month  total_mb  \
0          2000001                 [1, 2, 3, 4, 5, 6, 7, 8]   1738018
1          2000006  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   4688694
2          2000021  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   1887998
3          2000024  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   2734546
4          2000025                                [1, 2, 3]    677905
...            ...                                      ...       ...
284983     2358835                                     [12]      5727
284984     2358836                                     [12]      4908
284985     2358837                                     [12]        52
284986     2358838                                     [12]      2779
284987     2358839                                     [12]       680

        month_count
0                 8
1                12
2                12
3                12
4                 3
...             ...
284983            1
284984            1
284985            1
284986            1
284987            1

[284988 rows x 4 columns]
avg_2021
       customer_id                             record_month  total_mb  \
0          2000001                 [1, 2, 3, 4, 5, 6, 7, 8]   1738018
1          2000006  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   4688694
2          2000021  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   1887998
3          2000024  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]   2734546
4          2000025                                [1, 2, 3]    677905
...            ...                                      ...       ...
284983     2358835                                     [12]      5727
284984     2358836                                     [12]      4908
284985     2358837                                     [12]        52
284986     2358838                                     [12]      2779
284987     2358839                                     [12]       680

        month_count       avg_2021
0                 8  217252.250000
1                12  390724.500000
2                12  157333.166667
3                12  227878.833333
4                 3  225968.333333
...             ...            ...
284983            1    5727.000000
284984            1    4908.000000
284985            1      52.000000
284986            1    2779.000000
284987            1     680.000000

[284988 rows x 5 columns]
       customer_id       avg_2021
0          2000001  217252.250000
1          2000006  390724.500000
2          2000021  157333.166667
3          2000024  227878.833333
4          2000025  225968.333333
...            ...            ...
284983     2358835    5727.000000
284984     2358836    4908.000000
284985     2358837      52.000000
284986     2358838    2779.000000
284987     2358839     680.000000

[284988 rows x 2 columns]
Empty DataFrame
Columns: [record_year, record_month, customer_id, total_mb]
Index: []
Empty DataFrame
Columns: [customer_id, record_month]
Index: []
Empty DataFrame
Columns: [customer_id, total_mb]
Index: []
Empty DataFrame
Columns: [record_month, customer_id, total_mb]
Index: []
Empty DataFrame
Columns: [record_month, customer_id, total_mb, month_count]
Index: []
avg_2022
Empty DataFrame
Columns: [record_month, customer_id, total_mb, month_count, avg_2022]
Index: []
Empty DataFrame
Columns: [customer_id, avg_2022]
Index: []

       customer_id       avg_2020       avg_2021 avg_2022
0          2000001  242557.000000  217252.250000      NaN
1          2000006  620784.000000  390724.500000      NaN
2          2000021  705433.666667  157333.166667      NaN
3          2000024  433491.000000  227878.833333      NaN
4          2000025  511634.000000  225968.333333      NaN
...            ...            ...            ...      ...
294121     2358835            NaN    5727.000000      NaN
294122     2358836            NaN    4908.000000      NaN
294123     2358837            NaN      52.000000      NaN
294124     2358838            NaN    2779.000000      NaN
294125     2358839            NaN     680.000000      NaN

[294126 rows x 4 columns]

### main calculation origin

In [17]:
# transform the data based on the year [mx2]
yr_list = data_usage_year_list()
#print(yr_list)
yr_list_m = yr_list[:-1]
#print(yr_list_m)
if len(yr_list_m) == 1:
    _yr = yr_list[0]
    #print(_yr)
    df_avg = is_one_yr(_yr)
    #print(df_avg)
if len(yr_list_m) == 2:
    _yrl = yr_list
    #print(_yrl)
    df_avg = is_two_yr(_yrl)
    #print(df_avg)
if len(yr_list_m) > 2:
    _yrl = yr_list
    #print(_yrl)
    df_avg = is_more_two_yr(_yrl)
    #print(df_avg)

# transfrom the latest year data to columns [mxn]
selected_cols = ['customer_id', 'total_mb']
#print("Second Part: ",selected_cols)
current_year = yr_list[-1]
#print(current_year)
df = data_usage_df(current_year)
#print(df)
mos_list = np.unique(df['record_month'].to_list())
#print(mos_list)
_mo_1 = "-".join([str(current_year),str(mos_list[0]),'mb'])
_mo_2 = "-".join([str(current_year),str(mos_list[1]),'mb'])
#print(_mo_1)
#print(_mo_2)
df_1 = df.loc[df['record_month'] == mos_list[0]][selected_cols]
#print(df_1)
df_1.rename({'total_mb': _mo_1}, axis=1, inplace=True)
#print(df_1)
df_2 = df.loc[df['record_month'] == mos_list[1]][selected_cols]
#print(df_2)
df_2.rename({'total_mb': _mo_2}, axis=1, inplace=True)
#print(df_2)
df_m = pd.merge(df_1, df_2, on='customer_id', how='outer')
#print(df_m)
for i in mos_list[2:]:
    cols_name = "-".join([str(current_year),str(i),'mb'])
    #print(cols_name)
    df_n = df.loc[df['record_month'] == i][selected_cols]
    #print(df_n)

    df_n.rename({'total_mb': cols_name}, axis=1, inplace=True)
    #print(df_n)

    df_m = pd.merge(df_m, df_n, on='customer_id', how='outer')
    #print(df_m)


# merge previous average data usage and newly data usaget [mxn]
df_merged_all = pd.merge(df_avg, df_m, on='customer_id', how='outer')
#print(df_merged_all)

df_merged_cal = df_merged_all.copy()

# calculate the whole average data usage [convert argumented matrix]
col_names = df_merged_cal.columns
#print(col_names)

#print(df_merged_cal.fillna(0))

df_merged_cal['total_months'] = df_merged_cal.fillna(0).astype(bool).sum(axis=1)
#print(df_merged_cal)

df_merged_cal['total_months'] = df_merged_cal['total_months'] - 1
#print("month - 1 :",df_merged_cal)

df_merged_cal.loc[:, 'total_usage'] = df_merged_cal.loc[:, col_names[1:]].sum(axis=1)
#print(df_merged_cal)

df_merged_cal['avg_usage'] = df_merged_cal['total_usage']/df_merged_cal['total_months']
#print(df_merged_cal)

df_merged_cal['avg_usage'] = df_merged_cal['avg_usage'].apply(lambda x : '{:.1e}'.format(x))
#print(df_merged_cal)


# groups information
grouping_data_file = 'grouping_ids'
print(grouping_data_file)
groups_ids = file_handler.csv_reader('grouping_ids', 'interim', 'grouping_ids')
#groups_ids = pd.read_csv("../../data/interim/2022-01-12_active_customers.csv", dtype={'customer_id': str},low_memory=False)
print(groups_ids)

df_merged_groups = pd.merge(groups_ids, df_merged_cal, on='customer_id', how='left')
print(df_merged_groups)

# add create date and months
df_merged_groups['final_calculated_month'] = DateDefinitions.final_calculated_mo()
print(df_merged_groups)

df_merged_groups['write_date'] = dt.now()
print(df_merged_groups)

file_handler.saved_as_csv(df_merged_groups, 'data_usage', 'predictors', 'data_usage')
#file_handler = df_merged_groups.to_csv("../../data/interim/output_grouping_ids.csv", index=False)

        record_year  record_month customer_id  total_mb
0              2020             9     2000001    317606
1              2020            10     2000001    192505
2              2020            11     2000001    217560
3              2020             9     2000006    615141
4              2020            11     2000006    616414
...             ...           ...         ...       ...
455422         2020            11     2228672      1578
455423         2020            11     2228673      3833
455424         2020            11     2228674      1350
455425         2020            11     2228675      1844
455426         2020            11     2228676      3162

[455427 rows x 4 columns]
       customer_id record_month
0          2000001  [9, 10, 11]
1          2000006  [9, 10, 11]
2          2000021  [9, 10, 11]
3          2000024  [9, 10, 11]
4          2000025  [9, 10, 11]
...            ...          ...
164111     2228672         [11]
164112     2228673         [11]
164113     2228674         [11]
164114     2228675         [11]
164115     2228676         [11]

[164116 rows x 2 columns]
       customer_id  total_mb
0          2000001    727671
1          2000006   1862352
2          2000021   2116301
3          2000024   1300473
4          2000025   1534902
...            ...       ...
164111     2228672      1578
164112     2228673      3833
164113     2228674      1350
164114     2228675      1844
164115     2228676      3162

[164116 rows x 2 columns]
       customer_id record_month  total_mb
0          2000001  [9, 10, 11]    727671
1          2000006  [9, 10, 11]   1862352
2          2000021  [9, 10, 11]   2116301
3          2000024  [9, 10, 11]   1300473
4          2000025  [9, 10, 11]   1534902
...            ...          ...       ...
164111     2228672         [11]      1578
164112     2228673         [11]      3833
164113     2228674         [11]      1350
164114     2228675         [11]      1844
164115     2228676         [11]      3162

[164116 rows x 3 columns]
       customer_id record_month  total_mb  month_count
0          2000001  [9, 10, 11]    727671            3
1          2000006  [9, 10, 11]   1862352            3
2          2000021  [9, 10, 11]   2116301            3
3          2000024  [9, 10, 11]   1300473            3
4          2000025  [9, 10, 11]   1534902            3
...            ...          ...       ...          ...
164111     2228672         [11]      1578            1
164112     2228673         [11]      3833            1
164113     2228674         [11]      1350            1
164114     2228675         [11]      1844            1
164115     2228676         [11]      3162            1

[164116 rows x 4 columns]
avg_2020
       customer_id record_month  total_mb  month_count       avg_2020
0          2000001  [9, 10, 11]    727671            3  242557.000000
1          2000006  [9, 10, 11]   1862352            3  620784.000000
2          2000021  [9, 10, 11]   2116301            3  705433.666667
3          2000024  [9, 10, 11]   1300473            3  433491.000000
4          2000025  [9, 10, 11]   1534902            3  511634.000000
...            ...          ...       ...          ...            ...
164111     2228672         [11]      1578            1    1578.000000
164112     2228673         [11]      3833            1    3833.000000
164113     2228674         [11]      1350            1    1350.000000
164114     2228675         [11]      1844            1    1844.000000
164115     2228676         [11]      3162            1    3162.000000

[164116 rows x 5 columns]
       customer_id       avg_2020
0          2000001  242557.000000
1          2000006  620784.000000
2          2000021  705433.666667
3          2000024  433491.000000
4          2000025  511634.000000
...            ...            ...
164111     2228672    1578.000000
164112     2228673    3833.000000
164113     2228674    1350.000000
164114     2228675    1844.000000
164115     2228676    3162.000000

[164116 rows x 2 columns]
grouping_ids
path_name :  ../../
../../utils/.env
dir_name :  interim
read_file :  ../../data/interim/2022_1/grouping_ids/grouping_ids_2022_1_15.csv
       customer_id
0          2000006
1          2000021
2          2000024
3          2000026
4          2000027
...            ...
256655     2364047
256656     2364049
256657     2364060
256658     2364067
256659     2364093

[256660 rows x 1 columns]
       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
256655     2364047            NaN        NaN        NaN        NaN        NaN
256656     2364049            NaN        NaN        NaN        NaN        NaN
256657     2364060            NaN        NaN        NaN        NaN        NaN
256658     2364067            NaN        NaN        NaN        NaN        NaN
256659     2364093            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  2021-9-mb  2021-10-mb  \
0        446733.0   392553.0   417635.0   335586.0   242635.0    292809.0
1         55893.0   116080.0   222166.0    83345.0   167856.0    187390.0
2        138660.0   152889.0   266950.0   353100.0   287048.0    200911.0
3        297342.0   282266.0   374588.0   297496.0   369903.0    311529.0
4        339516.0   327567.0   346182.0   393877.0   360836.0    334008.0
...           ...        ...        ...        ...        ...         ...
256655        NaN        NaN        NaN        NaN        NaN         NaN
256656        NaN        NaN        NaN        NaN        NaN         NaN
256657        NaN        NaN        NaN        NaN        NaN         NaN
256658        NaN        NaN        NaN        NaN        NaN         NaN
256659        NaN        NaN        NaN        NaN        NaN         NaN

        2021-11-mb  2021-12-mb  total_months   total_usage avg_usage
0          36784.0    295059.0          13.0  5.309478e+06   4.1e+05
1          24228.0    172180.0          13.0  2.593432e+06   2.0e+05
2          38834.0    252749.0          13.0  3.168037e+06   2.4e+05
3          37121.0    261515.0          13.0  3.781393e+06   2.9e+05
4          47434.0    421568.0          13.0  4.169871e+06   3.2e+05
...            ...         ...           ...           ...       ...
256655         NaN         NaN           NaN           NaN       NaN
256656         NaN         NaN           NaN           NaN       NaN
256657         NaN         NaN           NaN           NaN       NaN
256658         NaN         NaN           NaN           NaN       NaN
256659         NaN         NaN           NaN           NaN       NaN

[256660 rows x 17 columns]
       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
256655     2364047            NaN        NaN        NaN        NaN        NaN
256656     2364049            NaN        NaN        NaN        NaN        NaN
256657     2364060            NaN        NaN        NaN        NaN        NaN
256658     2364067            NaN        NaN        NaN        NaN        NaN
256659     2364093            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  2021-9-mb  2021-10-mb  \
0        446733.0   392553.0   417635.0   335586.0   242635.0    292809.0
1         55893.0   116080.0   222166.0    83345.0   167856.0    187390.0
2        138660.0   152889.0   266950.0   353100.0   287048.0    200911.0
3        297342.0   282266.0   374588.0   297496.0   369903.0    311529.0
4        339516.0   327567.0   346182.0   393877.0   360836.0    334008.0
...           ...        ...        ...        ...        ...         ...
256655        NaN        NaN        NaN        NaN        NaN         NaN
256656        NaN        NaN        NaN        NaN        NaN         NaN
256657        NaN        NaN        NaN        NaN        NaN         NaN
256658        NaN        NaN        NaN        NaN        NaN         NaN
256659        NaN        NaN        NaN        NaN        NaN         NaN

        2021-11-mb  2021-12-mb  total_months   total_usage avg_usage  \
0          36784.0    295059.0          13.0  5.309478e+06   4.1e+05
1          24228.0    172180.0          13.0  2.593432e+06   2.0e+05
2          38834.0    252749.0          13.0  3.168037e+06   2.4e+05
3          37121.0    261515.0          13.0  3.781393e+06   2.9e+05
4          47434.0    421568.0          13.0  4.169871e+06   3.2e+05
...            ...         ...           ...           ...       ...
256655         NaN         NaN           NaN           NaN       NaN
256656         NaN         NaN           NaN           NaN       NaN
256657         NaN         NaN           NaN           NaN       NaN
256658         NaN         NaN           NaN           NaN       NaN
256659         NaN         NaN           NaN           NaN       NaN

       final_calculated_month
0                     2021-12
1                     2021-12
2                     2021-12
3                     2021-12
4                     2021-12
...                       ...
256655                2021-12
256656                2021-12
256657                2021-12
256658                2021-12
256659                2021-12

[256660 rows x 18 columns]
       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
256655     2364047            NaN        NaN        NaN        NaN        NaN
256656     2364049            NaN        NaN        NaN        NaN        NaN
256657     2364060            NaN        NaN        NaN        NaN        NaN
256658     2364067            NaN        NaN        NaN        NaN        NaN
256659     2364093            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  2021-9-mb  2021-10-mb  \
0        446733.0   392553.0   417635.0   335586.0   242635.0    292809.0
1         55893.0   116080.0   222166.0    83345.0   167856.0    187390.0
2        138660.0   152889.0   266950.0   353100.0   287048.0    200911.0
3        297342.0   282266.0   374588.0   297496.0   369903.0    311529.0
4        339516.0   327567.0   346182.0   393877.0   360836.0    334008.0
...           ...        ...        ...        ...        ...         ...
256655        NaN        NaN        NaN        NaN        NaN         NaN
256656        NaN        NaN        NaN        NaN        NaN         NaN
256657        NaN        NaN        NaN        NaN        NaN         NaN
256658        NaN        NaN        NaN        NaN        NaN         NaN
256659        NaN        NaN        NaN        NaN        NaN         NaN

        2021-11-mb  2021-12-mb  total_months   total_usage avg_usage  \
0          36784.0    295059.0          13.0  5.309478e+06   4.1e+05
1          24228.0    172180.0          13.0  2.593432e+06   2.0e+05
2          38834.0    252749.0          13.0  3.168037e+06   2.4e+05
3          37121.0    261515.0          13.0  3.781393e+06   2.9e+05
4          47434.0    421568.0          13.0  4.169871e+06   3.2e+05
...            ...         ...           ...           ...       ...
256655         NaN         NaN           NaN           NaN       NaN
256656         NaN         NaN           NaN           NaN       NaN
256657         NaN         NaN           NaN           NaN       NaN
256658         NaN         NaN           NaN           NaN       NaN
256659         NaN         NaN           NaN           NaN       NaN

       final_calculated_month                 write_date
0                     2021-12 2022-01-15 09:37:48.969208
1                     2021-12 2022-01-15 09:37:48.969208
2                     2021-12 2022-01-15 09:37:48.969208
3                     2021-12 2022-01-15 09:37:48.969208
4                     2021-12 2022-01-15 09:37:48.969208
...                       ...                        ...
256655                2021-12 2022-01-15 09:37:48.969208
256656                2021-12 2022-01-15 09:37:48.969208
256657                2021-12 2022-01-15 09:37:48.969208
256658                2021-12 2022-01-15 09:37:48.969208
256659                2021-12 2022-01-15 09:37:48.969208

[256660 rows x 19 columns]

### main calculation active from unique customers

In [ ]:
# transform the data based on the year [mx2]
yr_list = data_usage_year_list()
#print(yr_list)
yr_list_m = yr_list[:-1]
#print(yr_list_m)
if len(yr_list_m) == 1:
    _yr = yr_list[0]
    #print(_yr)
    df_avg = is_one_yr(_yr)
    #print(df_avg)
if len(yr_list_m) == 2:
    _yrl = yr_list
    #print(_yrl)
    df_avg = is_two_yr(_yrl)
    #print(df_avg)
if len(yr_list_m) > 2:
    _yrl = yr_list
    #print(_yrl)
    df_avg = is_more_two_yr(_yrl)
    #print(df_avg)

# transfrom the latest year data to columns [mxn]
selected_cols = ['customer_id', 'total_mb']
#print("Second Part: ",selected_cols)
current_year = yr_list[-1]
#print(current_year)
df = data_usage_df(current_year)
#print(df)
mos_list = np.unique(df['record_month'].to_list())
#print(mos_list)
_mo_1 = "-".join([str(current_year),str(mos_list[0]),'mb'])
_mo_2 = "-".join([str(current_year),str(mos_list[1]),'mb'])
#print(_mo_1)
#print(_mo_2)
df_1 = df.loc[df['record_month'] == mos_list[0]][selected_cols]
#print(df_1)
df_1.rename({'total_mb': _mo_1}, axis=1, inplace=True)
#print(df_1)
df_2 = df.loc[df['record_month'] == mos_list[1]][selected_cols]
#print(df_2)
df_2.rename({'total_mb': _mo_2}, axis=1, inplace=True)
#print(df_2)
df_m = pd.merge(df_1, df_2, on='customer_id', how='outer')
#print(df_m)
for i in mos_list[2:]:
    cols_name = "-".join([str(current_year),str(i),'mb'])
    #print(cols_name)
    df_n = df.loc[df['record_month'] == i][selected_cols]
    #print(df_n)

    df_n.rename({'total_mb': cols_name}, axis=1, inplace=True)
    #print(df_n)

    df_m = pd.merge(df_m, df_n, on='customer_id', how='outer')
    #print(df_m)


# merge previous average data usage and newly data usaget [mxn]
df_merged_all = pd.merge(df_avg, df_m, on='customer_id', how='outer')
#print(df_merged_all)

df_merged_cal = df_merged_all.copy()

# calculate the whole average data usage [convert argumented matrix]
col_names = df_merged_cal.columns

#print(df_merged_cal.fillna(0))

df_merged_cal['total_months'] = df_merged_cal.fillna(0).astype(bool).sum(axis=1)
#print(df_merged_cal)

df_merged_cal['total_months'] = df_merged_cal['total_months'] - 1
#print("month - 1 :",df_merged_cal)

df_merged_cal.loc[:, 'total_usage'] = df_merged_cal.loc[:, col_names[1:]].sum(axis=1)
#print(df_merged_cal)


df_merged_cal['avg_usage'] = df_merged_cal['total_usage']/df_merged_cal['total_months']
#print(df_merged_cal)


df_merged_cal['avg_usage'] = df_merged_cal['avg_usage'].apply(lambda x : '{:.1e}'.format(x))
#print(df_merged_cal)

df_merged_cal['2021_total_months'] = df_merged_cal.fillna(0).astype(bool).sum(axis=1)
df_merged_cal['2021_total_months'] = df_merged_cal['2021_total_months'] - 5
df_merged_cal.loc[:, '2021_total_usage'] = df_merged_cal.loc[:, col_names[2:]].sum(axis=1)
df_merged_cal['2021_avg_usage'] = df_merged_cal['2021_total_usage']/df_merged_cal['2021_total_months']
df_merged_cal['2021_avg_usage_report'] = df_merged_cal['2021_avg_usage'].apply(lambda x : '{:.1e}'.format(x))


# groups information
grouping_data_file = 'grouping_ids'
print(grouping_data_file)
groups_ids = file_handler.csv_reader('grouping_ids', 'interim', 'grouping_ids')
#groups_ids = pd.read_csv("../../data/interim/2022-01-12_active_customers.csv", dtype={'customer_id': str},low_memory=False)
print(groups_ids)

df_merged_groups = pd.merge(groups_ids, df_merged_cal, on='customer_id', how='left')
print(df_merged_groups)

                                            
# add create date and months
df_merged_groups['final_calculated_month'] = DateDefinitions.final_calculated_mo()
print(df_merged_groups)

df_merged_groups['write_date'] = dt.now()
print(df_merged_groups)


file_handler.saved_as_csv(df_merged_groups_plotly, 'data_usage', 'predictors', 'data_usage')
#file_handler = df_merged_groups.to_csv("../../data/interim/output_grouping_ids.csv", index=False)

### main calculation active from unique customers for Plotly

In [48]:
# transform the data based on the year [mx2]
yr_list = data_usage_year_list()
#print(yr_list)
yr_list_m = yr_list[:-1]
#print(yr_list_m)
if len(yr_list_m) == 1:
    _yr = yr_list[0]
    #print(_yr)
    df_avg = is_one_yr(_yr)
    #print(df_avg)
if len(yr_list_m) == 2:
    _yrl = yr_list
    #print(_yrl)
    df_avg = is_two_yr(_yrl)
    #print(df_avg)
if len(yr_list_m) > 2:
    _yrl = yr_list
    #print(_yrl)
    df_avg = is_more_two_yr(_yrl)
    #print(df_avg)

# transfrom the latest year data to columns [mxn]
selected_cols = ['customer_id', 'total_mb']
#print("Second Part: ",selected_cols)
current_year = yr_list[-1]
#print(current_year)
df = data_usage_df(current_year)
#print(df)
mos_list = np.unique(df['record_month'].to_list())
#print(mos_list)
_mo_1 = "-".join([str(current_year),str(mos_list[0]),'mb'])
_mo_2 = "-".join([str(current_year),str(mos_list[1]),'mb'])
#print(_mo_1)
#print(_mo_2)
df_1 = df.loc[df['record_month'] == mos_list[0]][selected_cols]
#print(df_1)
df_1.rename({'total_mb': _mo_1}, axis=1, inplace=True)
#print(df_1)
df_2 = df.loc[df['record_month'] == mos_list[1]][selected_cols]
#print(df_2)
df_2.rename({'total_mb': _mo_2}, axis=1, inplace=True)
#print(df_2)
df_m = pd.merge(df_1, df_2, on='customer_id', how='outer')
#print(df_m)
for i in mos_list[2:]:
    cols_name = "-".join([str(current_year),str(i),'mb'])
    #print(cols_name)
    df_n = df.loc[df['record_month'] == i][selected_cols]
    #print(df_n)

    df_n.rename({'total_mb': cols_name}, axis=1, inplace=True)
    #print(df_n)

    df_m = pd.merge(df_m, df_n, on='customer_id', how='outer')
    #print(df_m)


# merge previous average data usage and newly data usaget [mxn]
df_merged_all = pd.merge(df_avg, df_m, on='customer_id', how='outer')
#print(df_merged_all)

df_merged_cal = df_merged_all.copy()

# calculate the whole average data usage [convert argumented matrix]
col_names = df_merged_cal.columns

#print(df_merged_cal.fillna(0))

df_merged_cal['total_months'] = df_merged_cal.fillna(0).astype(bool).sum(axis=1)
#print(df_merged_cal)

df_merged_cal['total_months'] = df_merged_cal['total_months'] - 1
#print("month - 1 :",df_merged_cal)

df_merged_cal.loc[:, 'total_usage'] = df_merged_cal.loc[:, col_names[1:]].sum(axis=1)
#print(df_merged_cal)


df_merged_cal['avg_usage'] = df_merged_cal['total_usage']/df_merged_cal['total_months']
#print(df_merged_cal)


df_merged_cal['avg_usage'] = df_merged_cal['avg_usage'].apply(lambda x : '{:.1e}'.format(x))
#print(df_merged_cal)

df_merged_cal['2021_total_months'] = df_merged_cal.fillna(0).astype(bool).sum(axis=1)
df_merged_cal['2021_total_months'] = df_merged_cal['2021_total_months'] - 5
df_merged_cal.loc[:, '2021_total_usage'] = df_merged_cal.loc[:, col_names[2:]].sum(axis=1)
df_merged_cal['avg_2021_usage'] = df_merged_cal['2021_total_usage']/df_merged_cal['2021_total_months']
df_merged_cal['avg_2021'] = df_merged_cal['avg_2021_usage'].apply(lambda x : '{:.1e}'.format(x))


# groups information
grouping_data_file = 'grouping_ids'
print(grouping_data_file)
groups_ids = file_handler.csv_reader('grouping_ids', 'interim', 'grouping_ids')
#groups_ids = pd.read_csv("../../data/interim/2022-01-12_active_customers.csv", dtype={'customer_id': str},low_memory=False)
print(groups_ids)

df_merged_groups = pd.merge(groups_ids, df_merged_cal, on='customer_id', how='left')
print(df_merged_groups)

df_merged_groups_plotly = df_merged_groups.loc[(df_merged_groups['total_months'].notnull() & (df_merged_groups.total_months!=0))]
print(df_merged_groups_plotly)

df_merged_groups_plotly['avg_avg_2020_2021_usage'] = (df_merged_groups_plotly['avg_2020'] + df_merged_groups_plotly['avg_2021_usage']) / 2
print(df_merged_groups_plotly)

df_merged_groups_plotly['stdev_2020_2021_usage'] = df_merged_groups_plotly.loc[:,['avg_2020', 'avg_2021_usage']].std(axis=1)
print(df_merged_groups_plotly)    

df_merged_groups_plotly['avg_avg_2020_2021'] = df_merged_groups_plotly['avg_avg_2020_2021_usage'].apply(lambda x : '{:.1e}'.format(x))
print(df_merged_groups_plotly)    

df_merged_groups_plotly['stdev_2020_2021'] = df_merged_groups_plotly['stdev_2020_2021_usage'].apply(lambda x : '{:.1e}'.format(x))
print(df_merged_groups_plotly)

# add create date and months
df_merged_groups_plotly['final_calculated_month'] = DateDefinitions.final_calculated_mo()
print(df_merged_groups_plotly)


df_merged_groups_plotly['write_date'] = dt.now()
print(df_merged_groups_plotly)

df_merged_groups_plotly = df_merged_groups_plotly.loc[:, df_merged_groups_plotly.columns.isin(['customer_id', 'avg_2020', 'avg_2021','avg_avg_2020_2021', 'stdev_2020_2021'])]

file_handler.saved_as_csv(df_merged_groups_plotly, 'data_usage_plotly', 'predictors', 'data_usage')
#file_handler = df_merged_groups.to_csv("../../data/interim/output_grouping_ids.csv", index=False)

#histogram = df_merged_groups_plotly['avg_avg_2020_2021'].replace([np.inf, -np.inf], np.nan)
#histogram = histogram[histogram.notnull()]
#print("histogram", histogram)

#histogram = zip(*np.histogram(histogram, 50000))
#file_handler.saved_as_csv(histogram, 'histogram_plotly', 'predictors', 'data_usage')

        record_year  record_month customer_id  total_mb
0              2020             9     2000001    317606
1              2020            10     2000001    192505
2              2020            11     2000001    217560
3              2020             9     2000006    615141
4              2020            11     2000006    616414
...             ...           ...         ...       ...
455422         2020            11     2228672      1578
455423         2020            11     2228673      3833
455424         2020            11     2228674      1350
455425         2020            11     2228675      1844
455426         2020            11     2228676      3162

[455427 rows x 4 columns]
       customer_id record_month
0          2000001  [9, 10, 11]
1          2000006  [9, 10, 11]
2          2000021  [9, 10, 11]
3          2000024  [9, 10, 11]
4          2000025  [9, 10, 11]
...            ...          ...
164111     2228672         [11]
164112     2228673         [11]
164113     2228674         [11]
164114     2228675         [11]
164115     2228676         [11]

[164116 rows x 2 columns]
       customer_id  total_mb
0          2000001    727671
1          2000006   1862352
2          2000021   2116301
3          2000024   1300473
4          2000025   1534902
...            ...       ...
164111     2228672      1578
164112     2228673      3833
164113     2228674      1350
164114     2228675      1844
164115     2228676      3162

[164116 rows x 2 columns]
       customer_id record_month  total_mb
0          2000001  [9, 10, 11]    727671
1          2000006  [9, 10, 11]   1862352
2          2000021  [9, 10, 11]   2116301
3          2000024  [9, 10, 11]   1300473
4          2000025  [9, 10, 11]   1534902
...            ...          ...       ...
164111     2228672         [11]      1578
164112     2228673         [11]      3833
164113     2228674         [11]      1350
164114     2228675         [11]      1844
164115     2228676         [11]      3162

[164116 rows x 3 columns]
       customer_id record_month  total_mb  month_count
0          2000001  [9, 10, 11]    727671            3
1          2000006  [9, 10, 11]   1862352            3
2          2000021  [9, 10, 11]   2116301            3
3          2000024  [9, 10, 11]   1300473            3
4          2000025  [9, 10, 11]   1534902            3
...            ...          ...       ...          ...
164111     2228672         [11]      1578            1
164112     2228673         [11]      3833            1
164113     2228674         [11]      1350            1
164114     2228675         [11]      1844            1
164115     2228676         [11]      3162            1

[164116 rows x 4 columns]
avg_2020
       customer_id record_month  total_mb  month_count       avg_2020
0          2000001  [9, 10, 11]    727671            3  242557.000000
1          2000006  [9, 10, 11]   1862352            3  620784.000000
2          2000021  [9, 10, 11]   2116301            3  705433.666667
3          2000024  [9, 10, 11]   1300473            3  433491.000000
4          2000025  [9, 10, 11]   1534902            3  511634.000000
...            ...          ...       ...          ...            ...
164111     2228672         [11]      1578            1    1578.000000
164112     2228673         [11]      3833            1    3833.000000
164113     2228674         [11]      1350            1    1350.000000
164114     2228675         [11]      1844            1    1844.000000
164115     2228676         [11]      3162            1    3162.000000

[164116 rows x 5 columns]
       customer_id       avg_2020
0          2000001  242557.000000
1          2000006  620784.000000
2          2000021  705433.666667
3          2000024  433491.000000
4          2000025  511634.000000
...            ...            ...
164111     2228672    1578.000000
164112     2228673    3833.000000
164113     2228674    1350.000000
164114     2228675    1844.000000
164115     2228676    3162.000000

[164116 rows x 2 columns]
grouping_ids
path_name :  ../../
../../utils/.env
dir_name :  interim
read_file :  ../../data/interim/2022_1/grouping_ids/grouping_ids_2022_1_19.csv
       customer_id
0          2000006
1          2000021
2          2000024
3          2000026
4          2000027
...            ...
256655     2364047
256656     2364049
256657     2364060
256658     2364067
256659     2364093

[256660 rows x 1 columns]
       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
256655     2364047            NaN        NaN        NaN        NaN        NaN
256656     2364049            NaN        NaN        NaN        NaN        NaN
256657     2364060            NaN        NaN        NaN        NaN        NaN
256658     2364067            NaN        NaN        NaN        NaN        NaN
256659     2364093            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  ...  2021-10-mb  \
0        446733.0   392553.0   417635.0   335586.0  ...    292809.0
1         55893.0   116080.0   222166.0    83345.0  ...    187390.0
2        138660.0   152889.0   266950.0   353100.0  ...    200911.0
3        297342.0   282266.0   374588.0   297496.0  ...    311529.0
4        339516.0   327567.0   346182.0   393877.0  ...    334008.0
...           ...        ...        ...        ...  ...         ...
256655        NaN        NaN        NaN        NaN  ...         NaN
256656        NaN        NaN        NaN        NaN  ...         NaN
256657        NaN        NaN        NaN        NaN  ...         NaN
256658        NaN        NaN        NaN        NaN  ...         NaN
256659        NaN        NaN        NaN        NaN  ...         NaN

        2021-11-mb  2021-12-mb  total_months   total_usage  avg_usage  \
0          36784.0    295059.0          13.0  5.309478e+06    4.1e+05
1          24228.0    172180.0          13.0  2.593432e+06    2.0e+05
2          38834.0    252749.0          13.0  3.168037e+06    2.4e+05
3          37121.0    261515.0          13.0  3.781393e+06    2.9e+05
4          47434.0    421568.0          13.0  4.169871e+06    3.2e+05
...            ...         ...           ...           ...        ...
256655         NaN         NaN           NaN           NaN        NaN
256656         NaN         NaN           NaN           NaN        NaN
256657         NaN         NaN           NaN           NaN        NaN
256658         NaN         NaN           NaN           NaN        NaN
256659         NaN         NaN           NaN           NaN        NaN

       2021_total_months  2021_total_usage  avg_2021_usage  avg_2021
0                   12.0         4688694.0   390724.500000   3.9e+05
1                   12.0         1887998.0   157333.166667   1.6e+05
2                   12.0         2734546.0   227878.833333   2.3e+05
3                   12.0         3411025.0   284252.083333   2.8e+05
4                   12.0         3856304.0   321358.666667   3.2e+05
...                  ...               ...             ...       ...
256655               NaN               NaN             NaN       NaN
256656               NaN               NaN             NaN       NaN
256657               NaN               NaN             NaN       NaN
256658               NaN               NaN             NaN       NaN
256659               NaN               NaN             NaN       NaN

[256660 rows x 21 columns]
       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
251602     2358835            NaN        NaN        NaN        NaN        NaN
251603     2358836            NaN        NaN        NaN        NaN        NaN
251604     2358837            NaN        NaN        NaN        NaN        NaN
251605     2358838            NaN        NaN        NaN        NaN        NaN
251606     2358839            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  ...  2021-10-mb  \
0        446733.0   392553.0   417635.0   335586.0  ...    292809.0
1         55893.0   116080.0   222166.0    83345.0  ...    187390.0
2        138660.0   152889.0   266950.0   353100.0  ...    200911.0
3        297342.0   282266.0   374588.0   297496.0  ...    311529.0
4        339516.0   327567.0   346182.0   393877.0  ...    334008.0
...           ...        ...        ...        ...  ...         ...
251602        NaN        NaN        NaN        NaN  ...         NaN
251603        NaN        NaN        NaN        NaN  ...         NaN
251604        NaN        NaN        NaN        NaN  ...         NaN
251605        NaN        NaN        NaN        NaN  ...         NaN
251606        NaN        NaN        NaN        NaN  ...         NaN

        2021-11-mb  2021-12-mb  total_months   total_usage  avg_usage  \
0          36784.0    295059.0          13.0  5.309478e+06    4.1e+05
1          24228.0    172180.0          13.0  2.593432e+06    2.0e+05
2          38834.0    252749.0          13.0  3.168037e+06    2.4e+05
3          37121.0    261515.0          13.0  3.781393e+06    2.9e+05
4          47434.0    421568.0          13.0  4.169871e+06    3.2e+05
...            ...         ...           ...           ...        ...
251602         NaN      5727.0           1.0  5.727000e+03    5.7e+03
251603         NaN      4908.0           1.0  4.908000e+03    4.9e+03
251604         NaN        52.0           1.0  5.200000e+01    5.2e+01
251605         NaN      2779.0           1.0  2.779000e+03    2.8e+03
251606         NaN       680.0           1.0  6.800000e+02    6.8e+02

       2021_total_months  2021_total_usage  avg_2021_usage  avg_2021
0                   12.0         4688694.0    3.907245e+05   3.9e+05
1                   12.0         1887998.0    1.573332e+05   1.6e+05
2                   12.0         2734546.0    2.278788e+05   2.3e+05
3                   12.0         3411025.0    2.842521e+05   2.8e+05
4                   12.0         3856304.0    3.213587e+05   3.2e+05
...                  ...               ...             ...       ...
251602               0.0            5727.0             inf       inf
251603               0.0            4908.0             inf       inf
251604               0.0              52.0             inf       inf
251605               0.0            2779.0             inf       inf
251606               0.0             680.0             inf       inf

[250985 rows x 21 columns]
       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
251602     2358835            NaN        NaN        NaN        NaN        NaN
251603     2358836            NaN        NaN        NaN        NaN        NaN
251604     2358837            NaN        NaN        NaN        NaN        NaN
251605     2358838            NaN        NaN        NaN        NaN        NaN
251606     2358839            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  ...  2021-11-mb  \
0        446733.0   392553.0   417635.0   335586.0  ...     36784.0
1         55893.0   116080.0   222166.0    83345.0  ...     24228.0
2        138660.0   152889.0   266950.0   353100.0  ...     38834.0
3        297342.0   282266.0   374588.0   297496.0  ...     37121.0
4        339516.0   327567.0   346182.0   393877.0  ...     47434.0
...           ...        ...        ...        ...  ...         ...
251602        NaN        NaN        NaN        NaN  ...         NaN
251603        NaN        NaN        NaN        NaN  ...         NaN
251604        NaN        NaN        NaN        NaN  ...         NaN
251605        NaN        NaN        NaN        NaN  ...         NaN
251606        NaN        NaN        NaN        NaN  ...         NaN

        2021-12-mb  total_months   total_usage  avg_usage  2021_total_months  \
0         295059.0          13.0  5.309478e+06    4.1e+05               12.0
1         172180.0          13.0  2.593432e+06    2.0e+05               12.0
2         252749.0          13.0  3.168037e+06    2.4e+05               12.0
3         261515.0          13.0  3.781393e+06    2.9e+05               12.0
4         421568.0          13.0  4.169871e+06    3.2e+05               12.0
...            ...           ...           ...        ...                ...
251602      5727.0           1.0  5.727000e+03    5.7e+03                0.0
251603      4908.0           1.0  4.908000e+03    4.9e+03                0.0
251604        52.0           1.0  5.200000e+01    5.2e+01                0.0
251605      2779.0           1.0  2.779000e+03    2.8e+03                0.0
251606       680.0           1.0  6.800000e+02    6.8e+02                0.0

       2021_total_usage  avg_2021_usage  avg_2021  avg_avg_2020_2021_usage
0             4688694.0    3.907245e+05   3.9e+05            505754.250000
1             1887998.0    1.573332e+05   1.6e+05            431383.416667
2             2734546.0    2.278788e+05   2.3e+05            330684.916667
3             3411025.0    2.842521e+05   2.8e+05            327309.875000
4             3856304.0    3.213587e+05   3.2e+05            317462.833333
...                 ...             ...       ...                      ...
251602           5727.0             inf       inf                      NaN
251603           4908.0             inf       inf                      NaN
251604             52.0             inf       inf                      NaN
251605           2779.0             inf       inf                      NaN
251606            680.0             inf       inf                      NaN

[250985 rows x 22 columns]

/home/frontiir/Programs/Data_Clean/credit_score_kt/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/frontiir/Programs/Data_Clean/credit_score_kt/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
251602     2358835            NaN        NaN        NaN        NaN        NaN
251603     2358836            NaN        NaN        NaN        NaN        NaN
251604     2358837            NaN        NaN        NaN        NaN        NaN
251605     2358838            NaN        NaN        NaN        NaN        NaN
251606     2358839            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  ...  2021-12-mb  \
0        446733.0   392553.0   417635.0   335586.0  ...    295059.0
1         55893.0   116080.0   222166.0    83345.0  ...    172180.0
2        138660.0   152889.0   266950.0   353100.0  ...    252749.0
3        297342.0   282266.0   374588.0   297496.0  ...    261515.0
4        339516.0   327567.0   346182.0   393877.0  ...    421568.0
...           ...        ...        ...        ...  ...         ...
251602        NaN        NaN        NaN        NaN  ...      5727.0
251603        NaN        NaN        NaN        NaN  ...      4908.0
251604        NaN        NaN        NaN        NaN  ...        52.0
251605        NaN        NaN        NaN        NaN  ...      2779.0
251606        NaN        NaN        NaN        NaN  ...       680.0

        total_months   total_usage  avg_usage  2021_total_months  \
0               13.0  5.309478e+06    4.1e+05               12.0
1               13.0  2.593432e+06    2.0e+05               12.0
2               13.0  3.168037e+06    2.4e+05               12.0
3               13.0  3.781393e+06    2.9e+05               12.0
4               13.0  4.169871e+06    3.2e+05               12.0
...              ...           ...        ...                ...
251602           1.0  5.727000e+03    5.7e+03                0.0
251603           1.0  4.908000e+03    4.9e+03                0.0
251604           1.0  5.200000e+01    5.2e+01                0.0
251605           1.0  2.779000e+03    2.8e+03                0.0
251606           1.0  6.800000e+02    6.8e+02                0.0

        2021_total_usage avg_2021_usage  avg_2021  avg_avg_2020_2021_usage  \
0              4688694.0   3.907245e+05   3.9e+05            505754.250000
1              1887998.0   1.573332e+05   1.6e+05            431383.416667
2              2734546.0   2.278788e+05   2.3e+05            330684.916667
3              3411025.0   2.842521e+05   2.8e+05            327309.875000
4              3856304.0   3.213587e+05   3.2e+05            317462.833333
...                  ...            ...       ...                      ...
251602            5727.0            inf       inf                      NaN
251603            4908.0            inf       inf                      NaN
251604              52.0            inf       inf                      NaN
251605            2779.0            inf       inf                      NaN
251606             680.0            inf       inf                      NaN

        stdev_2020_2021_usage
0               162676.632526
1               387565.580322
2               145389.757344
3                60892.912941
4                 5509.540337
...                       ...
251602                    NaN
251603                    NaN
251604                    NaN
251605                    NaN
251606                    NaN

[250985 rows x 23 columns]
       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
251602     2358835            NaN        NaN        NaN        NaN        NaN
251603     2358836            NaN        NaN        NaN        NaN        NaN
251604     2358837            NaN        NaN        NaN        NaN        NaN
251605     2358838            NaN        NaN        NaN        NaN        NaN
251606     2358839            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  ...  total_months  \
0        446733.0   392553.0   417635.0   335586.0  ...          13.0
1         55893.0   116080.0   222166.0    83345.0  ...          13.0
2        138660.0   152889.0   266950.0   353100.0  ...          13.0
3        297342.0   282266.0   374588.0   297496.0  ...          13.0
4        339516.0   327567.0   346182.0   393877.0  ...          13.0
...           ...        ...        ...        ...  ...           ...
251602        NaN        NaN        NaN        NaN  ...           1.0
251603        NaN        NaN        NaN        NaN  ...           1.0
251604        NaN        NaN        NaN        NaN  ...           1.0
251605        NaN        NaN        NaN        NaN  ...           1.0
251606        NaN        NaN        NaN        NaN  ...           1.0

         total_usage  avg_usage  2021_total_months  2021_total_usage  \
0       5.309478e+06    4.1e+05               12.0         4688694.0
1       2.593432e+06    2.0e+05               12.0         1887998.0
2       3.168037e+06    2.4e+05               12.0         2734546.0
3       3.781393e+06    2.9e+05               12.0         3411025.0
4       4.169871e+06    3.2e+05               12.0         3856304.0
...              ...        ...                ...               ...
251602  5.727000e+03    5.7e+03                0.0            5727.0
251603  4.908000e+03    4.9e+03                0.0            4908.0
251604  5.200000e+01    5.2e+01                0.0              52.0
251605  2.779000e+03    2.8e+03                0.0            2779.0
251606  6.800000e+02    6.8e+02                0.0             680.0

        avg_2021_usage avg_2021  avg_avg_2020_2021_usage  \
0         3.907245e+05  3.9e+05            505754.250000
1         1.573332e+05  1.6e+05            431383.416667
2         2.278788e+05  2.3e+05            330684.916667
3         2.842521e+05  2.8e+05            327309.875000
4         3.213587e+05  3.2e+05            317462.833333
...                ...      ...                      ...
251602             inf      inf                      NaN
251603             inf      inf                      NaN
251604             inf      inf                      NaN
251605             inf      inf                      NaN
251606             inf      inf                      NaN

        stdev_2020_2021_usage  avg_avg_2020_2021
0               162676.632526            5.1e+05
1               387565.580322            4.3e+05
2               145389.757344            3.3e+05
3                60892.912941            3.3e+05
4                 5509.540337            3.2e+05
...                       ...                ...
251602                    NaN                nan
251603                    NaN                nan
251604                    NaN                nan
251605                    NaN                nan
251606                    NaN                nan

[250985 rows x 24 columns]

/home/frontiir/Programs/Data_Clean/credit_score_kt/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/frontiir/Programs/Data_Clean/credit_score_kt/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:115: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
251602     2358835            NaN        NaN        NaN        NaN        NaN
251603     2358836            NaN        NaN        NaN        NaN        NaN
251604     2358837            NaN        NaN        NaN        NaN        NaN
251605     2358838            NaN        NaN        NaN        NaN        NaN
251606     2358839            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  ...   total_usage  \
0        446733.0   392553.0   417635.0   335586.0  ...  5.309478e+06
1         55893.0   116080.0   222166.0    83345.0  ...  2.593432e+06
2        138660.0   152889.0   266950.0   353100.0  ...  3.168037e+06
3        297342.0   282266.0   374588.0   297496.0  ...  3.781393e+06
4        339516.0   327567.0   346182.0   393877.0  ...  4.169871e+06
...           ...        ...        ...        ...  ...           ...
251602        NaN        NaN        NaN        NaN  ...  5.727000e+03
251603        NaN        NaN        NaN        NaN  ...  4.908000e+03
251604        NaN        NaN        NaN        NaN  ...  5.200000e+01
251605        NaN        NaN        NaN        NaN  ...  2.779000e+03
251606        NaN        NaN        NaN        NaN  ...  6.800000e+02

        avg_usage  2021_total_months  2021_total_usage  avg_2021_usage  \
0         4.1e+05               12.0         4688694.0    3.907245e+05
1         2.0e+05               12.0         1887998.0    1.573332e+05
2         2.4e+05               12.0         2734546.0    2.278788e+05
3         2.9e+05               12.0         3411025.0    2.842521e+05
4         3.2e+05               12.0         3856304.0    3.213587e+05
...           ...                ...               ...             ...
251602    5.7e+03                0.0            5727.0             inf
251603    4.9e+03                0.0            4908.0             inf
251604    5.2e+01                0.0              52.0             inf
251605    2.8e+03                0.0            2779.0             inf
251606    6.8e+02                0.0             680.0             inf

        avg_2021 avg_avg_2020_2021_usage  stdev_2020_2021_usage  \
0        3.9e+05           505754.250000          162676.632526
1        1.6e+05           431383.416667          387565.580322
2        2.3e+05           330684.916667          145389.757344
3        2.8e+05           327309.875000           60892.912941
4        3.2e+05           317462.833333            5509.540337
...          ...                     ...                    ...
251602       inf                     NaN                    NaN
251603       inf                     NaN                    NaN
251604       inf                     NaN                    NaN
251605       inf                     NaN                    NaN
251606       inf                     NaN                    NaN

        avg_avg_2020_2021  stdev_2020_2021
0                 5.1e+05          1.6e+05
1                 4.3e+05          3.9e+05
2                 3.3e+05          1.5e+05
3                 3.3e+05          6.1e+04
4                 3.2e+05          5.5e+03
...                   ...              ...
251602                nan              nan
251603                nan              nan
251604                nan              nan
251605                nan              nan
251606                nan              nan

[250985 rows x 25 columns]
       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
251602     2358835            NaN        NaN        NaN        NaN        NaN
251603     2358836            NaN        NaN        NaN        NaN        NaN
251604     2358837            NaN        NaN        NaN        NaN        NaN
251605     2358838            NaN        NaN        NaN        NaN        NaN
251606     2358839            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  ...  avg_usage  \
0        446733.0   392553.0   417635.0   335586.0  ...    4.1e+05
1         55893.0   116080.0   222166.0    83345.0  ...    2.0e+05
2        138660.0   152889.0   266950.0   353100.0  ...    2.4e+05
3        297342.0   282266.0   374588.0   297496.0  ...    2.9e+05
4        339516.0   327567.0   346182.0   393877.0  ...    3.2e+05
...           ...        ...        ...        ...  ...        ...
251602        NaN        NaN        NaN        NaN  ...    5.7e+03
251603        NaN        NaN        NaN        NaN  ...    4.9e+03
251604        NaN        NaN        NaN        NaN  ...    5.2e+01
251605        NaN        NaN        NaN        NaN  ...    2.8e+03
251606        NaN        NaN        NaN        NaN  ...    6.8e+02

        2021_total_months  2021_total_usage  avg_2021_usage  avg_2021  \
0                    12.0         4688694.0    3.907245e+05   3.9e+05
1                    12.0         1887998.0    1.573332e+05   1.6e+05
2                    12.0         2734546.0    2.278788e+05   2.3e+05
3                    12.0         3411025.0    2.842521e+05   2.8e+05
4                    12.0         3856304.0    3.213587e+05   3.2e+05
...                   ...               ...             ...       ...
251602                0.0            5727.0             inf       inf
251603                0.0            4908.0             inf       inf
251604                0.0              52.0             inf       inf
251605                0.0            2779.0             inf       inf
251606                0.0             680.0             inf       inf

        avg_avg_2020_2021_usage stdev_2020_2021_usage  avg_avg_2020_2021  \
0                 505754.250000         162676.632526            5.1e+05
1                 431383.416667         387565.580322            4.3e+05
2                 330684.916667         145389.757344            3.3e+05
3                 327309.875000          60892.912941            3.3e+05
4                 317462.833333           5509.540337            3.2e+05
...                         ...                   ...                ...
251602                      NaN                   NaN                nan
251603                      NaN                   NaN                nan
251604                      NaN                   NaN                nan
251605                      NaN                   NaN                nan
251606                      NaN                   NaN                nan

        stdev_2020_2021  final_calculated_month
0               1.6e+05                 2021-12
1               3.9e+05                 2021-12
2               1.5e+05                 2021-12
3               6.1e+04                 2021-12
4               5.5e+03                 2021-12
...                 ...                     ...
251602              nan                 2021-12
251603              nan                 2021-12
251604              nan                 2021-12
251605              nan                 2021-12
251606              nan                 2021-12

[250985 rows x 26 columns]
       customer_id       avg_2020  2021-1-mb  2021-2-mb  2021-3-mb  2021-4-mb  \
0          2000006  620784.000000   551784.0   521399.0   741895.0   413822.0
1          2000021  705433.666667   332394.0   137845.0   177908.0   210713.0
2          2000024  433491.000000   323008.0   190365.0   297507.0   232525.0
3          2000026  370367.666667   358672.0   243750.0   283325.0   293518.0
4          2000027  313567.000000   312519.0   288753.0   382137.0   301907.0
...            ...            ...        ...        ...        ...        ...
251602     2358835            NaN        NaN        NaN        NaN        NaN
251603     2358836            NaN        NaN        NaN        NaN        NaN
251604     2358837            NaN        NaN        NaN        NaN        NaN
251605     2358838            NaN        NaN        NaN        NaN        NaN
251606     2358839            NaN        NaN        NaN        NaN        NaN

        2021-5-mb  2021-6-mb  2021-7-mb  2021-8-mb  ...  2021_total_months  \
0        446733.0   392553.0   417635.0   335586.0  ...               12.0
1         55893.0   116080.0   222166.0    83345.0  ...               12.0
2        138660.0   152889.0   266950.0   353100.0  ...               12.0
3        297342.0   282266.0   374588.0   297496.0  ...               12.0
4        339516.0   327567.0   346182.0   393877.0  ...               12.0
...           ...        ...        ...        ...  ...                ...
251602        NaN        NaN        NaN        NaN  ...                0.0
251603        NaN        NaN        NaN        NaN  ...                0.0
251604        NaN        NaN        NaN        NaN  ...                0.0
251605        NaN        NaN        NaN        NaN  ...                0.0
251606        NaN        NaN        NaN        NaN  ...                0.0

        2021_total_usage  avg_2021_usage  avg_2021  avg_avg_2020_2021_usage  \
0              4688694.0    3.907245e+05   3.9e+05            505754.250000
1              1887998.0    1.573332e+05   1.6e+05            431383.416667
2              2734546.0    2.278788e+05   2.3e+05            330684.916667
3              3411025.0    2.842521e+05   2.8e+05            327309.875000
4              3856304.0    3.213587e+05   3.2e+05            317462.833333
...                  ...             ...       ...                      ...
251602            5727.0             inf       inf                      NaN
251603            4908.0             inf       inf                      NaN
251604              52.0             inf       inf                      NaN
251605            2779.0             inf       inf                      NaN
251606             680.0             inf       inf                      NaN

        stdev_2020_2021_usage avg_avg_2020_2021  stdev_2020_2021  \
0               162676.632526           5.1e+05          1.6e+05
1               387565.580322           4.3e+05          3.9e+05
2               145389.757344           3.3e+05          1.5e+05
3                60892.912941           3.3e+05          6.1e+04
4                 5509.540337           3.2e+05          5.5e+03
...                       ...               ...              ...
251602                    NaN               nan              nan
251603                    NaN               nan              nan
251604                    NaN               nan              nan
251605                    NaN               nan              nan
251606                    NaN               nan              nan

        final_calculated_month                 write_date
0                      2021-12 2022-01-19 15:35:34.758413
1                      2021-12 2022-01-19 15:35:34.758413
2                      2021-12 2022-01-19 15:35:34.758413
3                      2021-12 2022-01-19 15:35:34.758413
4                      2021-12 2022-01-19 15:35:34.758413
...                        ...                        ...
251602                 2021-12 2022-01-19 15:35:34.758413
251603                 2021-12 2022-01-19 15:35:34.758413
251604                 2021-12 2022-01-19 15:35:34.758413
251605                 2021-12 2022-01-19 15:35:34.758413
251606                 2021-12 2022-01-19 15:35:34.758413

[250985 rows x 27 columns]

/home/frontiir/Programs/Data_Clean/credit_score_kt/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/frontiir/Programs/Data_Clean/credit_score_kt/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### main calculation unique customers

In [ ]:
# transform the data based on the year [mx2]
yr_list = data_usage_year_list()
#print(yr_list)
yr_list_m = yr_list[:-1]
#print(yr_list_m)
if len(yr_list_m) == 1:
    _yr = yr_list[0]
    #print(_yr)
    df_avg = is_one_yr(_yr)
    #print(df_avg)
if len(yr_list_m) == 2:
    _yrl = yr_list
    #print(_yrl)
    df_avg = is_two_yr(_yrl)
    #print(df_avg)
if len(yr_list_m) > 2:
    _yrl = yr_list
    #print(_yrl)
    df_avg = is_more_two_yr(_yrl)
    #print(df_avg)

# transfrom the latest year data to columns [mxn]
selected_cols = ['customer_id', 'total_mb']
#print("Second Part: ",selected_cols)
current_year = yr_list[-1]
#print(current_year)
df = data_usage_df(current_year)
#print(df)
mos_list = np.unique(df['record_month'].to_list())
#print(mos_list)
_mo_1 = "-".join([str(current_year),str(mos_list[0]),'mb'])
_mo_2 = "-".join([str(current_year),str(mos_list[1]),'mb'])
#print(_mo_1)
#print(_mo_2)
df_1 = df.loc[df['record_month'] == mos_list[0]][selected_cols]
#print(df_1)
df_1.rename({'total_mb': _mo_1}, axis=1, inplace=True)
#print(df_1)
df_2 = df.loc[df['record_month'] == mos_list[1]][selected_cols]
#print(df_2)
df_2.rename({'total_mb': _mo_2}, axis=1, inplace=True)
#print(df_2)
df_m = pd.merge(df_1, df_2, on='customer_id', how='outer')
#print(df_m)
for i in mos_list[2:]:
    cols_name = "-".join([str(current_year),str(i),'mb'])
    #print(cols_name)
    df_n = df.loc[df['record_month'] == i][selected_cols]
    #print(df_n)

    df_n.rename({'total_mb': cols_name}, axis=1, inplace=True)
    #print(df_n)

    df_m = pd.merge(df_m, df_n, on='customer_id', how='outer')
    #print(df_m)


# merge previous average data usage and newly data usaget [mxn]
df_merged_all = pd.merge(df_avg, df_m, on='customer_id', how='outer')
#print(df_merged_all)

df_merged_cal = df_merged_all.copy()

# calculate the whole average data usage [convert argumented matrix]
col_names = df_merged_cal.columns

#print(df_merged_cal.fillna(0))

df_merged_cal['total_months'] = df_merged_cal.fillna(0).astype(bool).sum(axis=1)
#print(df_merged_cal)

df_merged_cal['total_months'] = df_merged_cal['total_months'] - 1
#print("month - 1 :",df_merged_cal)

df_merged_cal.loc[:, 'total_usage'] = df_merged_cal.loc[:, col_names[1:]].sum(axis=1)
#print(df_merged_cal)


df_merged_cal['avg_usage'] = df_merged_cal['total_usage']/df_merged_cal['total_months']
#print(df_merged_cal)


df_merged_cal['avg_usage'] = df_merged_cal['avg_usage'].apply(lambda x : '{:.1e}'.format(x))
#print(df_merged_cal)

df_merged_cal['2021_total_months'] = df_merged_cal.fillna(0).astype(bool).sum(axis=1)
df_merged_cal['2021_total_months'] = df_merged_cal['2021_total_months'] - 5
df_merged_cal.loc[:, '2021_total_usage'] = df_merged_cal.loc[:, col_names[2:]].sum(axis=1)
df_merged_cal['2021_avg_usage'] = df_merged_cal['2021_total_usage']/df_merged_cal['2021_total_months']
df_merged_cal['2021_avg_usage_report'] = df_merged_cal['2021_avg_usage'].apply(lambda x : '{:.1e}'.format(x))


# groups information
#grouping_data_file = 'grouping_ids'
#print(grouping_data_file)
#groups_ids = file_handler.csv_reader('grouping_ids', 'interim', 'grouping_ids')
#groups_ids = pd.read_csv("../../data/interim/2022-01-12_active_customers.csv", dtype={'customer_id': str},low_memory=False)
#print(groups_ids)

#df_merged_groups = pd.merge(df_merged_cal, on='customer_id', how='left')
#print(df_merged_groups)

# add create date and months
df_merged_cal['final_calculated_month'] = DateDefinitions.final_calculated_mo()
print(df_merged_cal)


df_merged_cal['write_date'] = dt.now()
print(df_merged_cal)


file_handler.saved_as_csv(df_merged_cal, 'data_usage_all', 'predictors', 'data_usage')
#file_handler = df_merged_groups.to_csv("../../data/interim/output_grouping_ids.csv", index=False)

### Unique Customers From Raw Checking

In [ ]:
def check_data_usage_calc(dataframe, year):
        """
        calculate the all data usage in one year 
        Note data usage is very little data, so this code is embedded here
        """
        _df_raw = dataframe.copy()
        #print(_df_raw)
        df_mo_raw = _df_raw.groupby(by='customer_id')['record_month'].apply(np.unique).reset_index()
        print(df_mo_raw)
        #df_mo_raw = _df_raw.groupby('record_month')['customer_id'].apply(lambda x: np.unique(np.hstack(x)))
        #print(df_mo_raw)

        #df_mo_raw_id = _df_raw.groupby(by='customer_id').apply(np.unique).reset_index()
        #print(df_mo_raw_id)
        #df_mo_raw_month = _df_raw.groupby(by='record_month').apply(np.unique).reset_index()
        #print(df_mo_raw_month)

        
        
        df_usage_raw = _df_raw.groupby(by='customer_id')['total_mb'].sum().reset_index()
        #print(df_usage_raw)

        df_m = pd.merge(df_mo_raw, df_usage_raw, on='customer_id')
        print(df_m)
        return df_m

In [ ]:
check_data_usage_calc(data_usage_df(2020),2020)

In [ ]:
def is_two_yr_raw(yr_list_raw):
    _yr1_raw = yr_list_raw[0]
    _yr2_raw = yr_list_raw[1]
    df_yr1_raw = data_usage_df(_yr1_raw)
    df_yr2_raw = data_usage_df(_yr2_raw)
    df_1_raw = check_data_usage_calc(df_yr1_raw, _yr1_raw)
    df_2_raw = check_data_usage_calc(df_yr2_raw, _yr2_raw)
    df_m_raw = pd.merge(df_1_raw, df_2_raw, on='customer_id', how='outer')
    return df_m_raw

In [ ]:
is_two_yr_raw([2020,2021])

In [ ]:
df_merged_groups

In [ ]:
%reset -f
%reset -f dhist in out